<template>
    <div class="<%= data.lowerName  %>">
        <h1>{{ msg }}</h1>
    </div>
</template>

<script>
    export default {
        name: "<%= data.name  %>",
        components: {

        },
        data() {
            return {
                msg: "<%= data.lowerName  %>"
            }
        },
        mixin: [],
        created() {

        },
        methods: {

        }
    }
</script>

<style scoped lang="scss">
    /* 误判为错误 */
    .<%=data.lowerName %> {}
</style>